<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
 <!-- SQL Server -->
  <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@sabrinasb23.ddns.net:1521:XE</property>
  <property name="hibernate.connection.username">q4auditoria</property>
  <property name="hibernate.connection.password">q4auditoria</property>
  
  <!-- Configuration -->
  <property name="hibernate.show_sql">true</property>
  
  <!-- ENTITIES -->
  <mapping class="br.com.q4auditoria.web.models.AcaoEntity" />
  <mapping class="br.com.q4auditoria.web.models.MenuEntity" />
  <mapping class="br.com.q4auditoria.web.models.FuncionalidadeEntity" />
  <mapping class="br.com.q4auditoria.web.models.AcaoFuncionalidadeEntity" />
  <mapping class="br.com.q4auditoria.web.models.PerfilAcaoFuncionalidadeEntity" />
  <mapping class="br.com.q4auditoria.web.models.PerfilEntity" />
  <mapping class="br.com.q4auditoria.web.models.UsuarioEntity" />
  
 </session-factory>
</hibernate-configuration>
